<div class='page-header'>
  <h2><%= @reminder.title %></h2>
</div>

<div class="sub-container">
  <p>
    <strong>Description:</strong>
    <%= @reminder.description %>
  </p>

  <p>
    <strong>Day:</strong>
    <%= day_of_month(@reminder.month_schedule_day) %>
  </p>

  <p>
    <strong>Time:</strong>
    <%= @reminder.time.strftime("%H:%M %p") %>
  </p>

  <div class="row">
    <div class="col-md-12">
      <%= link_to 'Edit', edit_reminder_path(@reminder) %> |
      <%= link_to 'Back', reminders_path %>
    </div>
  </div>
</div>

